### BASE PACKAGES ###
# Debian, Ubuntu

# replaces sources.list repos.
- name: Move original /etc/apt/sources.list to back it up (once).
  command: mv /etc/apt/sources.list /etc/apt/sources.list.original
  args:
    creates: /etc/apt/sources.list.original

# this expects python-apt to be installed.
# at least two repos need to be defined. repos are added to sources.list.d/
- name: Add a set of specified repositories into sources list directory.
  apt_repository:
    repo: "{{ item }}"
    state: present
  loop: "{{ iserver_debian_repos }}"
  when: ansible_distribution == 'Debian'

- name: Add a set of specified repositories into sources list directory.
  apt_repository:
    repo: "{{ item }}"
    state: present
  loop: "{{ iserver_ubuntu_repos }}"
  when: ansible_distribution == 'Ubuntu'

# so that Ubuntu will not complain about missing sources.list
- name: Ensure that there is a sources.list file.
  copy:
    src: sources.list
    dest: /etc/apt/sources.list
    force: no

- name: Ensure, that all packages are updated and upgraded.
  apt:
    upgrade: "yes"
    update_cache: yes
    cache_valid_time: 86400 #One day

- name: Ensure that initial packages are installed.
  apt:
    name: "{{ iserver_deb_packages }}"
    state: present
