network:
  version: 2
  renderer: networkd
  ethernets:
    {{ iserver_interface }}:
      dhcp4: no
      dhcp6: no
      addresses: [{{ iserver_ip }}/32]
      routes:
      - to: 0.0.0.0/0
        via: {{ iserver_host_main_ip }}
        on-link: true
      nameservers:
        addresses: [{{ iserver_nameservers }}]
