#!/bin/bash
# Ansible managed
# Ubuntu, Debian

# show a verse of the day, if verse is installed
if [ -f /usr/bin/verse ]; then
    echo ""
    /usr/bin/verse
    echo ""
fi

uname -srm
w -s
echo -e "\nDisk usage      Size  Used Avail Use% Mount"
df -h | grep {{ iserver_main_disk }} # disk space
