#!/bin/bash
# {{ ansible_managed }}
# Debian, Ubuntu

[[ -f /etc/.template-cleanup.done ]] && exit 0

export DEBIAN_FRONTEND=noninteractive

echo "==> removing X11 packages (server not desktop...)"
apt-get -y remove libx11.*

echo "==> purging packages which are no longer needed and cleaning apt cache"
apt-get -y autoremove --purge
apt-get -y clean
apt-get -y autoclean

echo "==> cleaning up dhcp leases"
rm -v /var/lib/dhcp/* 2>/dev/null

echo "==> cleaning bash history"
unset HISTFILE
rm /root/.bash_history /home/{{ iserver_user }}/.bash_history 2>/dev/null

echo "==> clearing last login information"
>/var/log/lastlog
>/var/log/wtmp
>/var/log/btmp
>/var/log/auth.log

echo "==> removing tmp files"
rm -rf /tmp/* /var/tmp/*

echo "==> Zero out the free space to save space in the final image"
dd if=/dev/zero of=/EMPTY bs=1M  || echo "dd exit code $? is suppressed"
rm -f /EMPTY

echo "===> Wipe netplan machine-id (DUID) so machines get unique ID generated on boot"
truncate -s 0 /etc/machine-id

# Make sure we wait until all the data is written to disk, otherwise
# Packer might quit too early before the large files are deleted
sync

# we only want this done once
touch /etc/.template-cleanup.done

exit 0
