#!/bin/bash
# {{ ansible_managed }}
# Alpine

[[ -f /etc/.template-cleanup.done ]] && exit 0

echo "==> cleaning apk cache"
rm -rf /var/cache/apk/*

echo "==> cleaning ash history"
unset HISTFILE
rm -v /root/.ash_history /home/{{ iserver_user }}/.ash_history 2>/dev/null

echo "==> clearing logs"
>/var/log/messages

echo "==> removing tmp files"
rm -rf /tmp/* /var/tmp/*

echo "==> Zero out the free space to save space in the final image"
dd if=/dev/zero of=/EMPTY bs=1M  || echo "dd exit code $? is suppressed"
rm -f /EMPTY

# Make sure we wait until all the data is written to disk, otherwise
# Packer might quit too early before the large files are deleted
sync

# we only want this done once
touch /etc/.template-cleanup.done

exit 0
