# Ansible managed

[Unit]
Description=OpenSSH Server Key Generation
Before=ssh.service
ConditionPathExists=/etc/run-ssh-host-keygen-once

[Service]
# remove all host keys first, so that all will be refreshed
# (only executed on first boot)
ExecStart=/bin/bash -c 'rm -v -f /etc/ssh/*key*'
ExecStart=/bin/bash -c 'ssh-keygen -A'
ExecStart=/bin/bash -c 'rm -v -f /etc/run-ssh-host-keygen-once'
Type=oneshot

[Install]
WantedBy=multi-user.target
